@charset "utf-8";
/*//////////////////////////////////////////////////////////////
// CSS Variables
//////////////////////////////////////////////////////////////*/
:root {
  /* ------ ------ ------ *
   * フォント
   * ------ ------ ------ */
  /*
    書体
  */
  --gothic: sans-serif;  /* ゴシック */
  --mincho: serif;       /* 明朝体 */

  /* ------ ------ ------ *
   * サイズ
   * ------ ------ ------ */
  --size-M: 16px;

  /* ------ ------ ------ *
   * 色
   * ------ ------ ------ */
  /* 無機色
    11 255 White                ( 未使用 )
    10-11  White                ( 実質的に白として使用 )
    10 224 Very pale tone
    09 200 Pale tone
    08 176 Pale grayish tone
    07 152 Light grayish tone
    06 128 Middle grayish tone  ( 中間のトーン )
    05 104 Grayish tone
    04  80 Very grayish tone
    03  56 Dark grayish tone
    02  32 Very dark tone       ( 実質的に黒として使用 )
    01   0 Black                ( 未使用 )
  */
  --color-wt: 248, 248, 248;  /* 10-11 */
  --color-bk:   8,   8,   8;  /* 02  32 Very dark tone */
  /* 有機色 */
  --color-r:  255,  64,  64;  /* #ff4040 赤 */
  --color-g:  224, 240,  40;  /* #ffff40 緑 ( 赤黄 ) */
  --color-b:   64,  64, 255;  /* #0080ff 青 */


  /* 透明度
    0
  ------ ------
    8 16 24 32
   40 48 56 64
   72 80 88 96
  ------ ------
  100
  */
  --alpha-l: 0.24;
  --alpha-h: 0.64;
}
